ion-menu-button {
  color: var(--ion-color-primary);
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
}
ion-title {
  font-size: 14px;
}
ion-toolbar {
 margin-bottom: 0;
}
ion-button {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;

}
ion-header {
  margin-bottom: 0;
  margin-top: 0;
}