.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .chapter {
    flex: 1;
    text-align: center;
    margin-right: 20px;
  }
  
  .sloka-list {
    flex: 2;
    margin-top: 20px;
  }
  
  .sloka-list ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .sloka-list li {
    margin: 10px 0;
  }
  
  .sloka-list-header {
    display: flex;
    justify-content: center; /* Center-aligns the content horizontally */
    align-items: center; /* Center-aligns the content vertically */
    width: 100%;
    margin-bottom: 20px;
  }
  
  .sloka-list-header h4 {
    margin: 0;
    text-align: center; /* Center-aligns the text within the h4 element */
  }
  
  .sloka-list-header label {
    font-size: 16px;
    color: var(--text-color);
    margin-left: 20px; /* Adds some space between the h4 and the label */
  }
  
  .sloka-list-header input {
    margin-right: 10px;
  }
  
  .custom-pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .clickable {
    cursor: pointer;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .chapter {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .sloka-list ul {
      flex-direction: column;
    }
  }