.card-list-container {
    max-height: 250px;
    /* Adjust the height as needed */
    overflow-y: auto;
}

ion-card {
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer; /* Change cursor to pointer */
    transition: transform 0.2s; /* Add transition for hover effect */
}

ion-card:hover {
  transform: scale(1.02); /* Slightly enlarge the card on hover */
}

ion-card-header {
    padding-top: 0px;
    margin-top: 5px;
    margin-bottom: 5px; /* Remove margin at the bottom of the header */
    padding-bottom: 0px; 
}

ion-card-title {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0; /* Remove margin at the bottom of the title */
}

ion-card-content {
    margin: 0px 
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
pre {
  background-color: #f4f4f4;
  color: #0c0257;
  padding: 0px;
  margin: 0px;
  border-radius: 5px;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}