<div class="sloka-list" id="sloka-list">
    <div class="sloka-list-header">
        <h4>{{ chapterName }}</h4>
        <label>
            <input type="checkbox" [(ngModel)]="showSanskrit" (change)="onToggleSanskrit()"> Show Sanskrit
        </label>
    </div>
    <ul>
        <li *ngFor="let sloka of slokas; let i = index">
            <h4 > {{ getSlokaTitle(i + 1) }}</h4>
            <pre (click)="toggleSloka(i + 1)" class="custom-pre clickable">{{ sloka }}</pre>
            <div *ngIf="expandedSloka === i + 1">                
                <app-sloka [chapterId]="chapterId" [slokaId]="i + 1" [showSanskrit]="showSanskrit"></app-sloka>
            </div>
        </li>
    </ul>
</div>