pre {
    background-color: #f4f4f4;
    color: #0c0257;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  ion-title {
    text-align: center;
  }